<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>

<form
  action="https://app.convertkit.com/forms/2502174/subscriptions"
  method="post"
>
  <div class="subform">
    <h2 style="font-size: 32px; font-weight: 700" class="gradient">
      Subscribe to get my latest articles by email
    </h2>
    <ul data-element="errors" data-group="alert"></ul>
    <div data-element="fields" data-stacked="false">
      <input
        aria-label="Your first name"
        name="fields[first_name]"
        required=""
        placeholder="Your first name"
        type="text"
      />
      <input
        name="email_address"
        aria-label="Your email address"
        placeholder="Your email address"
        required=""
        type="email"
      />
      <button data-element="submit" class="sub-button">
        <span>Subscribe</span>
      </button>
      <p class="spam">I respect your privacy. No spam. Just food for thought.</p>
    </div>
  </div>
</form>

<style>
  .gradient-s {
    background: linear-gradient(60deg, #fe605d, #8f6fda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .spam {
    color: #999;
    margin-top: 20px;
  }
  input {
    border: 1px solid #ddd;
    color: black;
    border-radius: 3.5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 99%;
    box-shadow: none !important;
    display: inline;
  }
  input:focus {
    border: 1px solid #ddd;
    outline: none;
    border-radius: 3.5px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1; /* Firefox */
  }

  form {
    text-align: center;
  }
  .sub-button {
    background: black;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 99%;
  }

  .subform {
    /* border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; */
    /* background-color: rgb(196 226 255 / 75%); */
    padding: 5% 2%;
    border-radius: 5px;
    /* background: #f9fafb; */
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  }
</style>
